/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
}
code {
  font-size: 80%;
}
mat-divider {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
mat-form-field {
  width: 100%;
}
input.flight-search-custom-input-lg {
  color: #e83e8c;
  line-height: 48px;
  font-size: 48px;
}
.mat-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
  color: #064975;
  font-size: 20px;
}
.mat-form-field.mat-form-field-appearance-outline .mat-form-field-label,
.mat-form-field.mat-form-field-appearance-outline.mat-focused
	.mat-form-field-label {
  color: #064975;
  font-size: 24px;
}
.mat-select-value {
  color: #e83e8c;
  line-height: 36px;
  font-size: 36px;
}
.icon-2x {
  transform: scale(2);
  margin-left: 4px;
  margin-right: 12px;
}
.mat-form-field-flex {
  align-items: center !important;
}
.navbar {
  margin-bottom: 20px;
}
.footer {
  background-color:#064975 !important;
  margin-top: 20px !important;
}
.nav-pills {
  margin-bottom: 20px;
}
.home-welcome-header-content {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #064975;
}
.home-admin-button{
  margin-top: 8px;
  margin-bottom: 8px;
}
.home-trips-header {
  color:#064975;
}
.flight-search-button {
  width: 240px;
}
.flight-search-city-loading-option {
  text-align: center;
  align-content: center;
}
.flight-search-city-swap-icon {
  text-align: center;
  align-content: center;
  height: 80%;
}
.advancedSearchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.advancedSearchLink {
  color: #fff;
  background: #064975;
  width: 100%;
}
.custom-section {
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color:#064975;
}
/* CSS for flight search results page */
.flight-search-results-modify-card{
  margin-bottom: 20px;
}
.flight-search-results-table {
  margin-bottom: 24px;
  height: 3600px;
}