table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
}
tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
}
.flight-search-results-header-card {
  margin-bottom: 24px;
}
.flight-search-results-depature-header-card {
  margin-bottom: 24px;
  background: #3367d6;
  color: whitesmoke;
}
.flight-search-results-content-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
.darken {
  background: rgba(0,0,0,0.05);
}
.noflightrecords{
  color:red;
}