.mat-table {
    width: 98%;
}
tr.mat-header-row {
    background:#ddd;
}
tr.mat-row {
    background:#eee;
}
.payment-success-message{
    color:blueviolet;
}
.payment-processing-message{
    color: red;
}