.flight-trip-options-header-card {
    margin-bottom: 24px;
}
.flight-trip-options-stepper-container {
    margin-bottom: 24px;
}
.travelerform-back-button {
    margin-right: 16px;
}
.travelerform-next-button {
    margin-top: 16px;
}