<div>
    <h1><strong>TRIP OPTIONS -- {{ origin | uppercase }} :: {{ destination | uppercase }}</strong></h1>
</div>

<button (click)="goBack()">Back</button>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out traveler information</ng-template>      
      <mat-form-field>
          <mat-label mdPrefix>Firstname</mat-label>
          <input matInput placeholder="{{ loggedname }}" required formControlName="firstCtrl" value="{{ loggedname }}">
          <mat-error>
              <span *ngIf="!firstFormGroup.get('firstCtrl').valid && firstFormGroup.get('firstCtrl').touched">Please enter firstname</span>
          </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out traveler address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill out contact address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Contact" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Fill out travel docs</ng-template>
        <mat-form-field>
          <input matInput placeholder="Contact" formControlName="fourthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-raised-button type="submit" color="primary" (click)="confirmFlight()">CONTINUE</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
