<div class="container">
  <div class="text-center">
    <h1>Sign In</h1>
    <mat-divider></mat-divider>
  </div>
  <form [formGroup]="signinForm" class="form-signin" (ngSubmit)="login(signinForm.value)">
    <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
      <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
    <div>
      <mat-form-field>
        <mat-label mdPrefix>Username</mat-label>
        <input matInput placeholder="Username" ng-model="loginData.username" required formControlName="username">
        <mat-error>
            <span *ngIf="!signinForm.get('username').valid && signinForm.get('username').touched">Username is <strong>required</strong></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label mdPrefix>Password</mat-label>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" ng-model="loginData.password" ng-minlength='7' required
          formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error>
            <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">Password must be at least 7 characters.</span>
        </mat-error>
      </mat-form-field>
    </div>
      <div class="space-top text-center">
        <button mat-raised-button type="submit" [disabled]="!signinForm.valid" color="primary">Sign In</button>
      </div>
      <p>
          <a [routerLink]="['/forgotpswd']">Forgot Password</a>
      </p>
      <p>
          Not a member? <a [routerLink]="['/signup']">Signup here</a>
      </p>
  </form>
</div>