  <div class="container">
    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate" value="50"></mat-progress-bar>
    </div>
    <h3 class="home-welcome-header-content">WELCOME | {{ loggedname | uppercase }} !!</h3>

    <mat-divider class="home-content-divider"></mat-divider>
  </div>

  <div *ngIf="isAdmin$ | async" class="container">
    <button mat-raised-button class="home-admin-button" color="accent" matTooltip="View ADMIN options" (click)="adminView()">
      <mat-icon>supervisor_account</mat-icon>
    </button>

    <mat-divider class="home-content-divider"></mat-divider>
  </div>

  <div class="container">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon matTooltip="Search flights!">flight</mat-icon>
            <span>FLIGHTS</span>
          </div>
        </ng-template>
        <div class="example-large-box mat-elevation-z4">
          <ng-template matTabContent>
            <app-flight-search></app-flight-search>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon matTooltip="Search hotels!">hotels</mat-icon>
            <span>HOTELS</span>
          </div>
        </ng-template>
        <app-hotel-search></app-hotel-search>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon matTooltip="Search cars!">directions_car</mat-icon>
            <span>CARS</span>
          </div>
        </ng-template>
        <app-car-search></app-car-search>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="container">
    <mat-divider class="home-content-divider"></mat-divider>

    <h3 class="home-trips-header-content">TRIPS</h3>

    <mat-divider class="home-content-divider"></mat-divider>
  </div>

  <div #trips class="home-trips-content">
    <app-trips></app-trips>
  </div>