<div>
    <h1><strong>TRIP SUMMARY -- {{ origin | uppercase }} :: {{ destination | uppercase }}</strong></h1>
</div>

  <mat-grid-list [cols]="cols | async" gutterSize="16px">
    
      <mat-grid-tile [colspan]="cols | async">
        <mat-grid-tile-header>FLIGHT INFO</mat-grid-tile-header>
          <table mat-table #table [dataSource]="dataSource" class="container mat-elevation-z8">
            <!-- Flight No Column -->
            <ng-container matColumnDef="flight_no">
              <th mat-header-cell *matHeaderCellDef><strong>FLIGHT NO</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.flight_no }} </td>
            </ng-container>
          
            <!-- Origin Column -->
            <ng-container matColumnDef="origin">
              <th mat-header-cell *matHeaderCellDef><strong>ORIGIN</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.origin }} </td>
            </ng-container>
          
            <!-- Destination Column -->
            <ng-container matColumnDef="destination">
              <th mat-header-cell *matHeaderCellDef><strong>DESTINATION</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.destination }} </td>
            </ng-container>
          
            <!-- Departure Column -->
            <ng-container matColumnDef="departure">
              <th mat-header-cell *matHeaderCellDef><strong>DEPARTURE</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.departuredatetime | date : "medium" }} </td>
            </ng-container>
          
            <!-- Arrival Column -->
            <ng-container matColumnDef="arrival">
              <th mat-header-cell *matHeaderCellDef><strong>ARRIVAL</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.arrivaldatetime | date : "medium" }} </td>
            </ng-container>
          
            <!-- Aircraft Code Column -->
            <ng-container matColumnDef="aircraft_id">
              <th mat-header-cell *matHeaderCellDef><strong>AIRCRAFT</strong></th>
              <td mat-cell *matCellDef="let element"> {{ element.aircraft_id }} </td>
            </ng-container>
        
            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef><strong>PRICE</strong></th>
              <td mat-cell *matCellDef="let element"><strong>{{ element.price | currency }}</strong></td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-grid-tile>
      

      <mat-grid-tile [colspan]="cols | async">
        <mat-grid-tile-header>TRAVELER INFO</mat-grid-tile-header>
        <form [formGroup]="firstFormGroup">
          <mat-form-field>
            <input matInput disabled placeholder="Input" value="FIRSTNAME">
          </mat-form-field>
        
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-grid-tile>
  
      <mat-grid-tile [colspan]="cols | async">
          <mat-grid-tile-header>TRIP INFO</mat-grid-tile-header>
          <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <input matInput placeholder="Input">
              </mat-form-field>
            
              <mat-form-field>
                <textarea matInput placeholder="Textarea"></textarea>
              </mat-form-field>
            
              <mat-form-field>
                <mat-select placeholder="Select">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="cols | async">
          <mat-grid-tile-header>PAYMENT INFO</mat-grid-tile-header>
          <ng-template matStepLabel>Add payment information</ng-template>
          
          <div>
            <span *ngIf="paymentSuccessBoolean" class="payment-success-message"><strong>{{ successmessage }} -- for {{ payment.brand }} ending - {{ payment.last4 }}</strong></span>
          </div>
            
          <form *ngIf="!paymentSuccessBoolean" [formGroup]="sixthFormGroup" (ngSubmit)="savePayment(sixthFormGroup.value)">
              <div>
                <span class="payment-processing-message">{{ message }}</span>
              </div>
            <mat-form-field>
              <input matInput placeholder="Card Number" formControlName="number" required data-stripe="number">
              <mat-error>
                  <span *ngIf="!sixthFormGroup.get('number').valid && sixthFormGroup.get('number').touched">Please enter valid card #</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Expiration Month" formControlName="exp_month" required data-stripe="exp_month">
              <mat-error>
                  <span *ngIf="!sixthFormGroup.get('exp_month').valid && sixthFormGroup.get('exp_month').touched">Please enter valid month</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Expiration Year" formControlName="exp_year" required data-stripe="exp_year">
              <mat-error>
                  <span *ngIf="!sixthFormGroup.get('exp_year').valid && sixthFormGroup.get('exp_year').touched">Please enter valid year</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="CVC" formControlName="cvc" required data-stripe="cvc">
              <mat-error>
                  <span *ngIf="!sixthFormGroup.get('cvc').valid && sixthFormGroup.get('cvc').touched">Please enter valid cvc</span>
              </mat-error>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!sixthFormGroup.valid" color="primary">SUBMIT</button>
          </form>

      </mat-grid-tile>
    
      <mat-divider></mat-divider>

      <mat-grid-tile [colspan]="cols | async">
          <button mat-raised-button (click)="cancelBooking()">CANCEL</button>
          <button mat-raised-button type="submit" color="primary" (click)="confirmBooking()">CONFIRM BOOKING</button>
      </mat-grid-tile>
</mat-grid-list>