<div class="container">
  <!-- TRIP SUMMARY HEADER card -->
  <mat-card class="flight-summary-header-card">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <button mat-raised-button (click)="goBack()">Back to options</button>
        <h3>
          <strong>TRIP SUMMARY -- {{ origin | uppercase }} :: {{ destination | uppercase }}</strong>
        </h3>
      </div>
    </div>
  </mat-card>

  <div *ngIf="createloading" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  <!-- FLIGHT INFO container -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h5 class="flight-summary-header-text">*Please review the details below before proceeding.</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4>Flights:</h4>
      </div>
    </div>

    <mat-divider class="flight-summary-content-divider"></mat-divider>

    <form [formGroup]="tripsummaryFlightsFormGroup">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h6>**To edit the flights, please return to shopping cart and modify.</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Total segments</mat-label>
            <input matInput formControlName="segmentcountControl">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Origin</mat-label>
            <input matInput formControlName="originControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Destination</mat-label>
            <input matInput formControlName="destinationControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Flight No</mat-label>
            <input matInput formControlName="flightnoControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Carrier</mat-label>
            <input matInput formControlName="carrierControl">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Depart Time</mat-label>
            <input matInput formControlName="departtimeControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Return time</mat-label>
            <input matInput formControlName="returntimeControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input matInput formControlName="flightdurationControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput formControlName="flightpriceControl">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <!-- TRAVELER INFO container -->
  <div class="container">

    <mat-divider class="flight-summary-content-divider"></mat-divider>

    <div class="row">
      <div class="col-xs-8 col-sm-10 col-md-10">
        <h4>Travelers:</h4>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <button mat-stroked-button color="accent" (click)="editTravelers()" matTooltip="Edit info" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider class="flight-summary-content-divider"></mat-divider>

    <form [formGroup]="tripsummaryTravelersFormGroup">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Total travelers</mat-label>
            <input matInput formControlName="passengercountControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstnameControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="middlenameControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastnameControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="addressControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zipcodeControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phoneControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Special Services</mat-label>
            <mat-select placeholder="Special Services" formControlName="specialserviceControl" required>
              <mat-option value="None">None</mat-option>
              <mat-option value="wheelchair">Wheelchair</mat-option>
              <mat-option value="visuallyimpaired">Visually impaired</mat-option>
              <mat-option value="hearingimpaired">Hearing impaired</mat-option>
            </mat-select>
            <mat-error>Please select an option</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Seat Preference</mat-label>
            <mat-select placeholder="Seat Preference" formControlName="seatpreferenceControl" required>
              <mat-option value="None">None</mat-option>
              <mat-option value="aisle">Aisle</mat-option>
              <mat-option value="windows">Windows Seat</mat-option>
              <mat-option value="exitrow">Exit Row</mat-option>
              <mat-option value="lapchild">Lap Child</mat-option>
            </mat-select>
            <mat-error>Please select an option</mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Meal Preference</mat-label>
            <mat-select placeholder="Meal Preference" formControlName="mealpreferenceControl" required>
              <mat-option value="None">None</mat-option>
              <mat-option value="veg">Vegeterian</mat-option>
              <mat-option value="nonveg">Non Vegeterian</mat-option>
              <mat-option value="gluten">Gluten Free</mat-option>
              <mat-option value="special">Special Order</mat-option>
            </mat-select>
            <mat-error>Please select an option</mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-divider class="flight-summary-content-divider"></mat-divider>
      <!-- PASSPORT INFO - SUB container -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Passport needed</mat-label>
            <input matInput formControlName="passportneededControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Passport No</mat-label>
            <input matInput formControlName="passportnoControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Issuing country</mat-label>
            <input matInput formControlName="passportissuecountryControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Issue Date</mat-label>
            <input matInput formControlName="passportissuedateControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Expiry Date</mat-label>
            <input matInput formControlName="passportexpirydateControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Country of Citizenship</mat-label>
            <input matInput formControlName="passportcountryofcitizenshipControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Country Of residence</mat-label>
            <input matInput formControlName="passportcountryofresidenceControl">
          </mat-form-field>
        </div>
      </div>
      <!-- EMERGENCY CONTACT - SUB container -->
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="emergencycontactfirstnameControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="emergencycontactmiddlenameControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="emergencycontactlastnameControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="emergencycontactaddressControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="emergencycontactzipcodeControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emergencycontactemailControl">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="emergencycontactphoneControl">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button mat-raised-button *ngIf="editableTravelers" (click)="editedTravelers()" color="primary">DONE</button>
        </div>
      </div>
    </form>
  </div>

  <!-- PAYMENT INFO container -->
  <div class="container">
    <mat-divider class="flight-summary-content-divider"></mat-divider>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <span *ngIf="paymentSuccessBoolean" class="flight-summary-payment-success-message">
          <strong>{{ successmessage }} -- for {{ payment.brand }} ending - {{ payment.last4 }}</strong>
        </span>
      </div>
    </div>

    <form *ngIf="!paymentSuccessBoolean" [formGroup]="tripsummaryPaymentsFormGroup" (ngSubmit)="savePayment(tripsummaryPaymentsFormGroup.value)">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <span class="payment-processing-message">{{ message }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h3>PAYMENT INFO:</h3>
          <h5 class="flight-summary-payment-warning-text">*Please enter payment details to proceed.</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Card Number" formControlName="number" required data-stripe="number">
            <mat-error>
              <span *ngIf="!tripsummaryPaymentsFormGroup.get('number').valid && tripsummaryPaymentsFormGroup.get('number').touched">Please enter valid card #</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Expiration Month(MM)" formControlName="exp_month" required data-stripe="exp_month">
            <mat-error>
              <span *ngIf="!tripsummaryPaymentsFormGroup.get('exp_month').valid && tripsummaryPaymentsFormGroup.get('exp_month').touched">Please enter valid month</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Expiration Year(YYYY)" formControlName="exp_year" required data-stripe="exp_year">
            <mat-error>
              <span *ngIf="!tripsummaryPaymentsFormGroup.get('exp_year').valid && tripsummaryPaymentsFormGroup.get('exp_year').touched">Please enter valid year</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <mat-form-field appearance="outline">
            <input matInput placeholder="CVC" formControlName="cvc" required data-stripe="cvc">
            <mat-error>
              <span *ngIf="!tripsummaryPaymentsFormGroup.get('cvc').valid && tripsummaryPaymentsFormGroup.get('cvc').touched">Please enter valid cvc</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button mat-raised-button type="submit" [disabled]="!tripsummaryPaymentsFormGroup.valid" color="primary">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <mat-divider class="flight-summary-content-divider"></mat-divider>

    <div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <button mat-raised-button class="btn-block flight-summary-button-row" (click)="cancelBooking()">CANCEL TRIP</button>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9">
        <button mat-raised-button class="btn-block flight-summary-button-row" type="submit" [disabled]="!paymentSuccessBoolean" color="primary"
          (click)="confirmBooking()">CONFIRM BOOKING</button>
      </div>
    </div>

  </div>

</div>