<div class="container-fluid">
  <!-- HEADER -->
  <nav *ngIf="loggedin" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item navbar-brand" [routerLink]="['/home']" routerLinkActive="active">{{title}}</a>
      <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
      <a class="nav-item nav-link" [routerLink]="['/flights']" routerLinkActive="active">Flights</a>
      <a class="nav-item nav-link" [routerLink]="['/airports']" routerLinkActive="active">Airports</a>
      <a class="nav-item nav-link" [routerLink]="['/aircrafts']" routerLinkActive="active">Aircrafts</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" matTooltip="Profile" *ngIf="loggedin" (click)="viewUserProfile()">
        <mat-icon>account_circle</mat-icon>
      </a>
      <a class="nav-item nav-link" matTooltip="Notifications" *ngIf="loggedin" (click)="viewUserProfile()">
        <mat-icon>notifications</mat-icon>
      </a>
      <a class="nav-item nav-link" matTooltip="Logout" *ngIf="loggedin" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </div>
  </nav>

  <!-- MAIN CONTENT -->
  <!-- MESSAGES -->
  <app-message></app-message>

  <!-- CONTENT -->
  <router-outlet>

    <div *ngIf="loading">
      <mat-progress-bar mode="indeterminate" value="50"></mat-progress-bar>
    </div>

  </router-outlet>

  <!-- FOOTER -->
  <footer *ngIf="loggedin" class="footer mt-auto py-3">
    <div class="container-fluid">
      <div class="row text-white py-3">
        <div class="col-6 h6 p-0">Contact</div>
        <div class="col-6 h6">Social Media</div>
        <div class="col-2 p-0">
          <ul class="list-unstyled">
            <li class="h6">Place 1</li>
            <li>Place 1 address</li>
            <li>XXX XXX-XXXX</li>
          </ul>
        </div>
        <div class="col-2">
          <ul class="list-unstyled">
            <li class="h6">Place 2</li>
            <li>Place 2 address</li>
            <li>XXX XXX-XXXX</li>
          </ul>
        </div>
        <div class="col-2">
          <ul class="list-unstyled">
            <li class="h6">Place 3</li>
            <li>Place 3 address</li>
            <li>XXX XXX-XXXX</li>
          </ul>
        </div>
        <div class="col-6 align-items-center">
          <a href="https://www.facebook.com/address/" target="blank"></a>
          <a href="https://twitter.com/address" target="blank"></a>
        </div>
        <div class="col-12 p-0">
          <small>About myapp</small>
        </div>
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="javascript:void(0);">myapp.com</a>
        </div>
      </div>
    </div>
  </footer>
</div>