.img {
  width: 100%;
  margin-bottom: 18%;
}
.home-tab-group {
    width: 100%;
    overflow: auto;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
  }
  
  .home-tab-content {
    width: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
  }
.mat-divider {
    border-top-color: black;
}