<div class="button-row">
  <button mat-raised-button class="back-button" (click)="goBack()">Back</button>
  <button mat-raised-button color="primary" matTooltip="Create Flight" [routerLink]="['/flight-create']">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="example-container mat-elevation-z8">
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate" value = "50"></mat-progress-bar>
    </div>  

  <table mat-table #table [dataSource]="dataSource">

    <!-- Flight No Column -->
    <ng-container matColumnDef="flight_no">
      <th mat-header-cell *matHeaderCellDef>
        <strong>FLIGHT NO</strong>
      </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{ element.flight_no }} </td>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>
        <strong>ORIGIN</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.origin }} </td>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>
        <strong>DESTINATION</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.destination }} </td>
    </ng-container>

    <!-- Departure Column -->
    <ng-container matColumnDef="departure">
      <th mat-header-cell *matHeaderCellDef>
        <strong>DEPARTURE</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.departuredatetime | date : 'medium' }} </td>
    </ng-container>

    <!-- Arrival Column -->
    <ng-container matColumnDef="arrival">
      <th mat-header-cell *matHeaderCellDef>
        <strong>ARRIVAL</strong>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element.arrivaldatetime | date : 'medium' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/flight-detail/', row.flight_no]"></tr>
  </table>
</div>