
  <div *ngIf="createloading" class="loading-indicator">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  
<div *ngIf="reservation" class="container">
  <mat-card>
    <h1>
      <strong>You're reservation is confirmed !</strong>
    </h1>
    <h3>Confirmation # :
      <strong> {{ reservation.pnrno }}</strong>
    </h3>
  </mat-card>

  <mat-divider class="flight-confirmation-content-divider"></mat-divider>
  <p>*Expand each of the section below to view the details of the reservation.</p>

    <mat-expansion-panel [expanded]="true" class="flight-confirmation-flightinfo-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Flight Info</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Total segments</mat-label>
              <input matInput [readonly]="true" [formControl]="segmentcountControl">
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Origin</mat-label>
              <input matInput [readonly]="true" [formControl]="originControl">
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Destination</mat-label>
              <input matInput [readonly]="true" [formControl]="destinationControl">
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Flight No</mat-label>
              <input matInput [readonly]="true" [formControl]="flightnoControl">
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  <mat-divider class="flight-confirmation-content-divider"></mat-divider>

    <mat-expansion-panel [expanded]="false" class="flight-confirmation-travelerinfo-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Traveler Info</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Total passengers</mat-label>
                <input matInput [readonly]="true" [formControl]="passengercountControl">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput [readonly]="true" [formControl]="firstnameControl">
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput [readonly]="true" [formControl]="middlenameControl">
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput [readonly]="true" [formControl]="lastnameControl">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <h3 class="text-uppercase">Address</h3>
              </div>
          </div>

          <div class="row">
              <address>
                  <strong>What is going on{{ reservation.traveleraddress }}</strong><br>
                  {{ reservation.travelerzipcode}}<br>
                  <a href="mailto:#">{{ reservation.traveleremail }}</a>
                  <abbr title="Phone">P:</abbr> {{ reservation.travelerphone }}
              </address>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <h3 class="text-uppercase">Travel Preferences</h3>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Special service</mat-label>
                  <input matInput [readonly]="true" [formControl]="specialserviceControl">
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Meal preference</mat-label>
                  <input matInput [readonly]="true" [formControl]="mealpreferenceControl">
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Other request</mat-label>
                  <input matInput [readonly]="true" [formControl]="miscpreferenceControl">
                </mat-form-field>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <h3 class="text-uppercase">Travel Documents</h3>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <mat-form-field appearance="outline">
                      <mat-label>Passport Needed</mat-label>
                      <input matInput [readonly]="true" [formControl]="passportneededControl">
                    </mat-form-field>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <h4>Emergency contact details :</h4>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput [readonly]="true" [formControl]="emergencycontactfirstnameControl">
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Middle Name</mat-label>
                  <input matInput [readonly]="true" [formControl]="emergencycontactmiddlenameControl">
                </mat-form-field>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput [readonly]="true" [formControl]="emergencycontactlastnameControl">
                </mat-form-field>
              </div>
          </div>
          
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <h4>Address</h4>
              </div>
          </div>

          <div class="row">
              <address>
                  <strong>{{ reservation.emergencycontactaddress}}</strong><br>
                  {{ reservation.emergencycontactzipcode}}<br>
                  <a href="mailto:#">{{ reservation.emergencycontactemail}}</a>
                  <abbr title="Phone">P:</abbr> {{ reservation.emergencycontactphone}}
              </address>
          </div>

        </div>
    </mat-expansion-panel>

  <mat-divider class="flight-confirmation-content-divider"></mat-divider>

    <mat-expansion-panel [expanded]="false" class="flight-confirmation-paymentinfo-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Payment Info</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <mat-form-field appearance="outline">
                <mat-label>Total amount</mat-label>
                <input matInput [readonly]="true" [formControl]="totalamountControl">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Payment Status</mat-label>
                <input matInput [readonly]="true" [formControl]="paymentstatusControl">
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Card used -Brand</mat-label>
                <input matInput [readonly]="true" [formControl]="cardendingControl">
              </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Card used -Ending</mat-label>
                <input matInput [readonly]="true" [formControl]="cardbrandControl">
              </mat-form-field>
            </div>
          </div>
    </mat-expansion-panel>

  <mat-divider class="flight-confirmation-content-divider"></mat-divider>

  <div class="container">
    <div class="row flight-confirmation-button-row">
      <div class="col-xs-12 col-sm-6 col-md-3">
      <button mat-raised-button [routerLink]="['/home']" fragment="trips" routerLinkActive="active">VIEW TRIPS</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button mat-raised-button type="submit" color="accent" [routerLink]="['/home']" routerLinkActive="active">BOOK NEW FLIGHT</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <button mat-raised-button type="submit" color="primary" [routerLink]="['/flight-checkin-landing']" routerLinkActive="active">CHECKIN FLIGHT</button>
    </div>
  </div>

</div>
