.example-container {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    min-width: 90%;
    overflow: auto;
    margin: 20px;
  }
  
  .isbn-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin: 10px 0;
  }