.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 80%;
    margin-left: 48px;
  }
  
  .example-full-width:nth-last-child() {
    margin-bottom: 10px;
  }
  
  .button-row {
    margin-top: 10px;
    margin-left: 48px;
    margin-bottom: 10px;
  }
  .back-button{
    margin-right: 24px;
  }
  .flight-create-reset-button{
    margin-right: 24px;
  }

  .example-radio-group {
    margin: 48px;
  }
  .example-radio-button{
    margin: 5px;
  }