<h1 mat-dialog-title><strong>FLIGHT SHOPPING CART</strong></h1>

<mat-divider></mat-divider>

<mat-dialog-content>
    <p>You have <strong>{{shoppingCartItems.length}}</strong> items in your cart</p>
    <p>Total: {{ getTotal() | async}}</p>

    <table mat-table #table [dataSource]="dataSource" multiTemplateDataRows class="container mat-elevation-z8">
      <!-- WHEN NO FLIGHTS ARE ADDED TO CART -->
      <ng-template [ngIf]="">
          <mat-cell><h1> No Record found </h1>
          </mat-cell>
      </ng-template>

      <!-- Flight No Column -->
      <ng-container matColumnDef="flight_no">
        <th mat-header-cell *matHeaderCellDef><strong>FLIGHT NO</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.flight_no }} </td>
      </ng-container>
    
      <!-- Origin Column -->
      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef><strong>ORIGIN</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.origin }} </td>
      </ng-container>
    
      <!-- Destination Column -->
      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef><strong>DESTINATION</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.destination }} </td>
      </ng-container>
    
      <!-- Departure Column -->
      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef><strong>DEPARTURE</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.departuredatetime | date : "medium" }} </td>
      </ng-container>
    
      <!-- Arrival Column -->
      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef><strong>ARRIVAL</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.arrivaldatetime | date : "medium" }} </td>
      </ng-container>
    
      <!-- Aircraft Code Column -->
      <ng-container matColumnDef="aircraft_id">
        <th mat-header-cell *matHeaderCellDef><strong>AIRCRAFT</strong></th>
        <td mat-cell *matCellDef="let element"> {{ element.aircraft_id }} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef><strong>PRICE</strong></th>
        <td mat-cell *matCellDef="let element"><strong>{{ element.price | currency }}</strong></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Remove item button Column -->
      <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
              <button tabindex="-1" (click)="removeItem(row)">Remove</button>
          </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="close()">CLOSE</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="isEmptyCart()" (click)="bookFlight()">BOOK</button>
</mat-dialog-actions>